
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* NOTE: There are 2 option using the gif image, this one is for the NavBar banner, the other is applied to the main page, If you try it, remember to change the text and buttons .css style file. */
  /* background-image: url(img/source.webp); */
  /* Background image fills the page and does not repeat */
  background-repeat: no-repeat; 
  background-size: cover;
  background-color: #53aa19;
}

nav {
  /* background: #64a937; */
  /* background: #457426; */
  /* background: #85af69; */
  background: #53aa19;
  background-image: url(img/source.webp);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 18px #719377;
  padding-left: 1.85em;
  padding-right: 2.5em;
  margin-bottom: 2em;
  height: 10em;
}

main {
  width: 90%;
  margin: auto;
  color: #85af69;
  font-size: 5em;
}

a {
  color: white;
  text-decoration: none;
}

nav a {
  color: white;
  /* color: #117b24; */
  font-size: 1.75em;
  text-align: left;
} 

button, input[type="submit"] { 
  font-weight: 700;
  font-size: small;
  padding: .5em;
  border-style: none;
  width: auto;
  margin-block-start: 1em ;
  /* background-color: #85af69; */
  background-color: #f5ae44;
  color: white;
  /* box-shadow: 5px 8px 8px rgb(128, 128, 128); */
}

nav button {
  /* background: #36740d; */
  /* background: #85af69; */
  background: #f5ae44;
  width: flex;
  margin-top: -6px;
  font-size: xx-small;
  font-weight: bold;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  color: #85af69;
}

table {
  background-color: #85af69;
  border-radius: 8px;
  margin: auto;
  padding: 1em;
  width: 75%;
  border-color: none;
  box-shadow: 0px 0px 18px #719377;
  
}

td {
  text-align: center;
  padding: .5em;
  font-size: normal;
  color: white;

}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.25);
  opacity: 0.7;
}
/* this is the table u want to move the header into */
tbody tr:nth-child
tbody {
  background: #719377;
}
/* why not showing */
/* .index header{
  color: #f5ae44;
} */

.New form {
  margin: auto;
  width: 70%;
  font-size: small;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 1.25em;
  padding-bottom: 15px;
  padding-left: 1em;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 45%;
  padding: .75em;
  margin-top: 1em;
}

.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 12px;
  padding: 3em;
  padding-block: 12px;
}

.log-page {
  margin: .5em 1em .5em 1em;
}

.log-detail {
  background-color: #85af69;
  border-radius: 8px;
  margin: auto;
  padding: .5em;
  width: 80%;
  border-color: none;
  color: white;
  box-shadow: 5px 8px 18px #719377
}